body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  padding-top: 70px;
}

.haus-pink {
  color: #e6007e;
}

.hero {
  background: linear-gradient(
      rgba(230, 0, 126, 0.8),
      rgba(230, 0, 126, 0.8)
    ),
    url("https://images.unsplash.com/photo-1541167760496-1628856ab772");
  background-size: cover;
  height: 85vh;
  display: flex;
  align-items: center;
}

.cart-float {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 999;
}